// Impaginazione

@mixin display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin araund-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@mixin space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin justify-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin justify-center {
    display: flex;
    justify-content: center;
}

@mixin cerchio {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

@mixin wd100 {
    width: 100%;
    height: 100%;
}

// Font

@mixin font13 {
    font-size: 13px;
}

@mixin font15 {
    font-size: 15px;
}

@mixin font18 {
    font-size: 18px;
}

@mixin font20 {
    font-size: 20px;
}

@mixin font22 {
    font-size: 22px;
}

@mixin font25 {
    font-size: 25px;
}

@mixin font50 {
    font-size: 50px;
}

@mixin font60 {
    font-size: 60px;
}

