// Colori Font

$bianco: #FFFFFF;

$listFooter: #6B6B6B;

$fontP: #8C8C8C;

$lista: #A8A1A2;



// Colori Elementi

$neroFooter: #222222;

$griglia: #EAEAEA;

$azzurro: #40C4FE;

$bacgroungIcons: #F2F8FC;







