// Colori Font

$bianco: #FFFFFF;

$listFooter: #ABABAB;

$fontP: #B9B9B9;

$lista: #A8A1A2;

$titoliGrandi: #303030;

$titoliColonna: #3E3E3E;

$sottoTitoliColonna: #545454;

$testiColonna: #B9B9B9;

$titoliFooter: #FBFBFC;

$testiCopy: #959595;

$nome: #CECECE;



// Colori Elementi

$neroFooter: #222222;

$griglia: #EAEAEA;

$azzurro: #40C4FE;

$backgroungIcons: #F2F8FC;

$backgroungPrice: #FFD740;

$backgroungGriglia: #F2F8FC;


// Colori Bordi

$borderTopColonna: #D6F2FF;

$borderTopGriglia: #40C4FE;








